:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-weight: 400;
  }
  
  body {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 1500px;
    min-height: 100vh;
    padding: 10px;
    background-image: url('/public/view-statue-liberty-new-york-city.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.74);
    color: #a70105;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  
  .container {
    width: 500px;
    margin: 250px 400px 100px -150px;
  }
  
   input {
    width: 100%;
    font-size: 30px;
    border-radius: 7px;
    padding: 10px 10px 10px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif3;
  }
  .inputOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  